name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

env:
  DUNE_PROFILE: release
  OCAMLRUNPARAM: b

permissions:
  contents: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash -xeuo pipefail {0}

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 5.3.0

    steps:
      - uses: actions/checkout@v4

      - name: Load opam cache
        id: opam-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ runner.tool_cache }}/opam
            ~/.opam
            _opam
            .opam-path
          key: v1.0.0-opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3.4.5
        if: steps.opam-cache.outputs.cache-hit != 'true'
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: false
          opam-disable-sandboxing: true

      - name: Get opam executable path
        if: steps.opam-cache.outputs.cache-hit != 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const opam_path = await io.which('opam', true);
            console.log('opam executable found: %s', opam_path);
            const Fs = require('fs/promises');
            await Fs.writeFile('.opam-path', opam_path, 'utf-8');
            console.log('stored path to .opam-path');

      - name: Use cached opam environment
        if: steps.opam-cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          echo "OPAMVERBOSE=$RUNNER_DEBUG" >> "$GITHUB_ENV"
          echo "OPAMCOLOR=always" >> "$GITHUB_ENV"
          echo "OPAMCONFIRMLEVEL=unsafe-yes" >> "$GITHUB_ENV"
          echo "OPAMERRLOGLEN=0" >> "$GITHUB_ENV"
          echo "OPAMEXTERNALSOLVER=builtin-0install" >> "$GITHUB_ENV"
          echo "OPAMPRECISETRACKING=1" >> "$GITHUB_ENV"
          echo "OPAMRETRIES=10" >> "$GITHUB_ENV"
          echo "OPAMROOT=$HOME/.opam" >> "$GITHUB_ENV"
          echo "OPAMSOLVERTIMEOUT=600" >> "$GITHUB_ENV"
          echo "OPAMYES=1" >> "$GITHUB_ENV"

          OPAM_PATH="$(cat .opam-path)"
          chmod +x "$OPAM_PATH"
          dirname "$OPAM_PATH" >> "$GITHUB_PATH"

      - name: Install opam deps
        run: make install

      - name: Pin dependencies
        run: make pin

      - name: Build
        run: make build

      - name: Check formatting
        run: make format-check

      - name: Run tests
        run: make test

      - name: Run benchmarks
        run: make bench

      - name: Install dune-release
        if: startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest'
        run: opam install dune-release -y

      - name: Release
        uses: davesnx/dune-release-action@v0.2.14
        if: startsWith(github.ref, 'refs/tags/') && matrix.os == 'ubuntu-latest'
        with:
          packages: 'parseff'
          changelog: './CHANGES.md'
          github-token: ${{ secrets.GH_TOKEN }}

      - name: Save opam cache
        uses: actions/cache/save@v4
        if: steps.opam-cache.outputs.cache-hit != 'true'
        with:
          path: |
            ${{ runner.tool_cache }}/opam
            ~/.opam
            _opam
            .opam-path
          key: v1.0.0-opam-${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('**.opam') }}
